body {
    margin: 0px;
    padding: 0px;
}

header {
    text-align: center;
    border: 1px solid black;

}

.container {
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    border: 10px;
    margin: 10px;
}