/* General */

body
{
    margin: 0px;
    padding: 0px;
    width: 100%;
}
#db-content
{
    display: flex;
    max-height: 80vh;
    min-height: 80vh;
}
#db-home
{
    border: 1px solid black;
    width: 100%;
    margin: 1px;
}
h1
{
    width: 100%;
    border: 1px black solid;
    text-align: center;
    display: block;
    margin: 1px;
    font-family: Arial, Helvetica, sans-serif;
}
h2
{
    text-align: center;
}

footer
{
    font-family: Arial, Helvetica, sans-serif;
    height: 5.4vh;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    border-top: 1px solid black;
}

/* Header */
#dbheader
{
    text-align: left;
    border-bottom: 1px solid black;
    border-top: none;
    height: 75px;
    width: 100%;
}
#dbheader-info
{
    display: flex;
}
#dbheader-icon
{
    margin-left: 10px;
    max-width: 75px;
    min-width: 75px;
    max-height: 75px;
    min-height: 75px;
}
#dbheader-info p
{
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

#dbheader-user
{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    position: absolute;
    top: 1px;
    right: 1px;
    border: 1px solid black;
    height: 70px;
    margin: 1px;
}

#dbheader-user-text
{
    margin: 1px;
    transform: translate(0%, -5px);
}

#dbheader-user-icon
{
    margin: 1px;
    margin-left: 10px;
    border: 1px solid black;
    width: 65px;
    height: 65px;
}

/* Side Bar */
#dbsidebar
{
    float: left;
}
#dbsidebar button
{
    margin: 1px;
    height: 75px;
    width: 75px;
    background-color: rgb(255, 255, 255);
    border: 1px grey solid;
    background-position: center; 
    background-size: 85px 85px;
}
#dbsidebar button:hover
{
    background-color: rgb(240, 240, 240);
}
#dbsidebar a.current button
{
    background-color: rgb(189, 189, 189);
    border: 2px black solid;
}

#dbsidebar-home
{
    background-image: url("../images/dashboard/sidebar/home.svg");
}

#dbsidebar-search
{
    background-image: url("../images/dashboard/sidebar/search.svg");
}

#dbsidebar-manage-machines
{
    background-image: url("../images/dashboard/sidebar/search.svg");
}

#dbsidebar-manage-jobs
{
    background-image: url("../images/dashboard/sidebar/search.svg");
}

#dbsidebar-updatemachine{
    background-image: url("../images/dashboard/sidebar/machine.png");

    background-position: center; 
    background-size: 85px 85px;
}
#dbsidebar-updatejobs{
    background-image: url("../images/dashboard/sidebar/job.png");
}

#dbsidebar-admin{
    background-image: url("../images/dashboard/sidebar/admin.svg");
    background-position: center; 
    background-size: 85px 85px;
}
#dbsidebar-tasknotes{
    background-image: url("../images/dashboard/sidebar/tasknote.png");

    background-position: center; 
    background-size: 85px 85px;
}
#dbsidebar-print{
    background-image: url("../images/dashboard/sidebar/print.png");

    background-position: center; 
    background-size: 85px 85px;
}
#dbsidebar-settings{
    background-image: url("../images/dashboard/sidebar/setting.png");

    background-position: center; 
    background-size: 85px 85px;
}

/* Login Page  */

#login-background
{
    margin: 0px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
#login-box
{
    background-color: rgb(255, 255, 255);
    width: 27%;
    padding: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 45%;

}
#login-logo
{
    position: absolute;
    transform: translate(-50%, -25%);
    top: 0%;
    left: 50%;
}
#login-form
{
    display: grid;
    border: 1px black solid; 
    padding: 10px;
    position: absolute;
    transform: translate(-50%);
    bottom: 5%;
    left: 50%;
}
#login-title
{
    position: absolute;
    transform: translate(-50%);
    top: -25%;
    left: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#login-error-msg
{
    width: 100%;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    text-align: center;
    transform: translate(-50%);
    bottom: -25%;
    left: 50%;

}
#login-user-id, #login-password
{
    align-self: center;
    width: 200px;
    float: right;
}
#login-submit
{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 35%;
}

/* Search Page */
#pagetitle
{
    height: 40px;
    display: flex;
}
#searchpage
{
    display: flex;
    height: 100%;
}
#filters
{
    margin: 1px;
    width: 15%;
    padding: 15px;
    padding-bottom: 0px;
    padding-top: 0px;
    border: 1px solid black;
    height: 80vh;
    display: block;

}
#filters h2
{
    text-align: center;
}
#filters ul
{
    padding:0px;
}
#filters li
{
    margin-bottom: 0px;
    display: inline-table;
    list-style: none;
    width: 100%;
    border: 1px solid black;
}
#filters label
{
    float: left;
    text-align: center;
    padding-left: 5px;
}
#filters input 
{
    float: right;
}

#dts-input
{
    float: none;
    display: flex;   
    justify-content: flex-end; 
}

#timefrom
{
    width: 100px;
}

#timeto
{
    width: 100px;
}
#machine-list
{
    list-style: none;
    width: 100%;
    max-height: 200px;
    min-height: 200px;
    padding-left: 0px;
    overflow: scroll;
    overflow-x: hidden;
}
#machine-list li
{
    border: 1px solid black;
}
#results-table
{
    margin: 1px;
    width: 100%;
    float: right;
    max-height: 80vh;
    min-height: 80vh;
    overflow: scroll;
    overflow-x: hidden;
    border: 1px solid black;
}
#results-table table
{
    width: 100%;
    border-collapse: collapse;
}
#tb-header
{
    border: 1px solid black;
    background-color: rgb(196, 196, 196);
    position: sticky; top: 0;
}
#results-table th, td, tr
{
    text-align: center;
    border: 1px solid rgb(117, 117, 117);
    padding: 5px;
}
#results-table #even
{
    background-color: rgb(228, 228, 228);
}
#results-table #odd
{
    background-color: rgb(255, 255, 255);
}

/* CSS for date selection window */
#dtswindow 
{
    margin: 0px;
    text-align: center;
    border: 1px solid black;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 350px;
}
#dts-header
{
    
    padding: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 0px;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    display:inline-block;
}
#ym-label
{
    margin: 0px;
    text-align: center;
}
#prev
{
    margin: 0px;
    position: absolute;
    top: 0px;
    left: 15%;
}
#next
{
    margin: 0px;
    position: absolute;
    top: 0px;
    right: 15%;
}
#close
{
    position: absolute;
    top: 0px;
    right: 0px;
}
#days-table td
{
    padding: 0;
    height: 30px;
    width: 30px;
}
#days-table button
{
    width: 100%;
    height: 100%;
}
#dts-time-label
{
    position: fixed;
    bottom: 15%;
    left: -30%;
    text-align: center;
    transform: translate(-50%, 0);
}
#time-input
{
    float: left;
    position: fixed;
    bottom: 15%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0);
}

#hour
{
    float: none;
    width: 40px;
    height: 20px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
#minutes
{
    float: none;
    width: 40px;
    height: 20px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
#set
{
    position: fixed;
    bottom: 0%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

#avg-productivity
{
    float: inline-end;
    margin: 1px;
    border: 1px solid black;
}
canvas
{
    margin-top: 0%;
}
#graph-input
{
    width: 50%;

    position: relative;
    left: 50%;
    transform: translate(-50%);
}
#submit
{
    margin-top: 5px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

/*Updatemachine page*/
*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    
}

#pagetitle {
    height: 40px;
    display: flex;
}

h1 {
    width: 100%;
    border: 1px black solid;
    text-align: center;
    display: block;
    margin: 0px;
}

footer
{
    height: 65px;
    width: 100%;
    margin-bottom: 0%;
    text-align: center;
    border: 1px solid black;
}

#dbheader {
    margin: 0px;
    text-align: left;
    border: 1px solid black;
    height: 75px;
    width: 100%;
}

#dbheader-info {
    display: flex;
}

#dbheader-icon {
    margin-left: 10px;
    max-width: 75px;
    min-width: 75px;
    max-height: 75px;
    min-height: 75px;
}

#dbheader-info p {
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

#dbheader-user {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
}

#dbheader-user-text {
    display: inline;
}

#dbheader-user-icon {
    margin-left: 10px;
    border: 1px solid black;
    max-width: 75px;
    min-width: 75px;
    max-height: 75px;
    min-height: 75px;
}

#dbsidebar {
    border: 1px black solid;
    float: left;
    display: block;
}

#dbsidebar-button {
    margin: none;
    min-height: 75px;
    min-width: 75px;
}
#updatepage
{
    display: flex;
}
#update-machine-page {
    display: flex;
    flex: 1;
    justify-content: space-between; /* Space between the form and updates */
    height: fit-content;  /* Subtract header and footer heights */
    overflow: hidden; /* Prevent scrolling */
}

#filters
{
    width: 40%;
    padding: 15px;
    border: 1px solid black;
    display: inline-block;
    margin: auto;
}

#filters h2 {
    text-align: center;
}

#filters ul {
    padding: 0px;
}

#filters li {
    margin-bottom: 30px;
    padding: 5px;
    display: inline-table;
    list-style: none;
    width: 100%;
    border: 1px solid black;
}

label {
    float: left;
    text-align: center;
    padding-left: 5px;
}

input {
    float: right;
}

#machine-list {
    list-style: none;
    width: 100%;
    max-height: 200px;
    padding-left: 15px;
    overflow-y: auto; /* Allow scrolling within the list if necessary */
    overflow-x: hidden;
}

#machine-list li {
    border: 1px solid black;
}

#machine-form {
    width: 35%;
    padding: 50px;
    border: 1px solid black;
    max-height: fit-content; /* Adjusted to full height */
    display: inline-block;
    box-sizing: border-box; 
}


#machine-form h2 {
    text-align: center;
}

#machine-form label {
    display: block;
    margin-bottom: 0px;
    text-align: center;
}


#machine-form input {
    width: calc(100% - 10px);
    margin-bottom: 15px;
    padding: 5px;
}

#latest-machine-updates {
    width: 55%;
    padding: 15px;
    border: 1px solid black;
    box-sizing: border-box;
    max-height: 100%; /* Adjusted to full height */
    overflow-y: auto; /* Allow scrolling for long content */
    display: inline-block; /* Ensures it's displayed next to the form */
    margin-top: 0px; /* Moves the box higher */
    margin-bottom: 300px;
}


#latest-machine-updates h2 {
    text-align: center;
}

#latest-machine-updates table {
    width: 100%; /* Full width of the parent div */
    border-collapse: collapse; /* Combine borders of table cells */
}

#latest-machine-updates th,
#latest-machine-updates td {
    text-align: center;
    border: 1px solid rgb(117, 117, 117); /* Border for cells */
    padding: 5px;
}

#latest-machine-updates #even {
    background-color: rgb(228, 228, 228);
}

#latest-machine-updates #odd {
    background-color: rgb(255, 255, 255);
}

#submit {
    display: block;
    margin-left: 5px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: auto;
    position: static;
}

#results-table {
    width: 100%;
    float: right;
    max-height: 750px;
    overflow: hidden; /* Prevent overflow */
    border: 1px solid black;
}

#results-table table {
    width: 100%;
    border-collapse: collapse;
}

#tb-header {
    border: 1px solid black;
    background-color: rgb(196, 196, 196);
    position: sticky;
    top: 0;
}

#results-table th,
td,
tr {
    text-align: center;
    border: 1px solid rgb(117, 117, 117);
    padding: 5px;
}

#results-table #even {
    background-color: rgb(228, 228, 228);
}

#results-table #odd {
    background-color: rgb(255, 255, 255);
}


/*style*/
/* General */

body
{
    margin: 0px;
    padding: 0px;
    width: 100%;
}
#db-content
{
    display: flex;
    max-height: 80vh;
    min-height: 80vh;
}
#db-home
{
    border: 1px solid black;
    width: 100%;
    margin: 1px;
}
h1
{
    width: 100%;
    border: 1px black solid;
    text-align: center;
    display: block;
    margin: 1px;
    font-family: Arial, Helvetica, sans-serif;
}
h2
{
    text-align: center;
}
label
{
    font-family: Arial, Helvetica, sans-serif;
}
footer
{
    font-family: Arial, Helvetica, sans-serif;
    height: 5.4vh;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    border-top: 1px solid black;
}

/* Header */
#dbheader
{
    text-align: left;
    border-bottom: 1px solid black;
    border-top: none;
    height: 75px;
    width: 100%;
}
#dbheader-info
{
    display: flex;
}
#dbheader-icon
{
    margin-left: 10px;
    max-width: 75px;
    min-width: 75px;
    max-height: 75px;
    min-height: 75px;
}
#dbheader-info p
{
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

#dbheader-user
{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    position: absolute;
    top: 1px;
    right: 1px;
    border: 1px solid black;
    height: 70px;
    margin: 1px;
}

#dbheader-user-text
{
    margin: 1px;
    transform: translate(0%, -5px);
}

#dbheader-user-icon
{
    margin: 1px;
    margin-left: 10px;
    border: 1px solid black;
    width: 65px;
    height: 65px;
}

/* Side Bar */
#dbsidebar
{
    float: left;
}
#dbsidebar button
{
    margin: 1px;
    height: 75px;
    width: 75px;
    background-color: rgb(255, 255, 255);
    border: 1px grey solid;
}
#dbsidebar button:hover
{
    background-color: rgb(240, 240, 240);
}
#dbsidebar a.current button
{
    background-color: rgb(189, 189, 189);
    border: 2px black solid;
}

#dbsidebar-home
{
    background-image: url("../images/dashboard/sidebar/home.svg");

    background-position: center; 
    background-size: 85px 85px;
}

#dbsidebar-search
{
    background-image: url("../images/dashboard/sidebar/search.svg");

    background-position: center; 
    background-size: 85px 85px;
}

#dbsidebar-updatemachine{
    background-image: url("../images/dashboard/sidebar/machine.png");

    background-position: center; 
    background-size: 85px 85px;
}
