/* General */

body
{
    margin: 0px;
    padding: 0px;
    width: 100%;
}
#db-content
{
    display: flex;
    max-height: 80vh;
    min-height: 80vh;
}
#db-home
{
    border: 1px solid black;
    width: 100%;
    margin: 1px;
}
h1
{
    width: 100%;
    border: 1px black solid;
    text-align: center;
    display: block;
    margin: 1px;
    font-family: Arial, Helvetica, sans-serif;
}
h2
{
    text-align: center;
}
label
{
    font-family: Arial, Helvetica, sans-serif;
}
footer
{
    font-family: Arial, Helvetica, sans-serif;
    height: 5.4vh;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    border-top: 1px solid black;
}

/* Header */
#dbheader
{
    text-align: left;
    border-bottom: 1px solid black;
    border-top: none;
    height: 75px;
    width: 100%;
}
#dbheader-info
{
    display: flex;
}
#dbheader-icon
{
    margin-left: 10px;
    max-width: 75px;
    min-width: 75px;
    max-height: 75px;
    min-height: 75px;
}
#dbheader-info p
{
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

#dbheader-user
{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    position: absolute;
    top: 1px;
    right: 1px;
    border: 1px solid black;
    height: 70px;
    margin: 1px;
}

#dbheader-user-text
{
    margin: 1px;
    transform: translate(0%, -5px);
}

#dbheader-user-icon
{
    margin: 1px;
    margin-left: 10px;
    border: 1px solid black;
    width: 65px;
    height: 65px;
}

/* Side Bar */
#dbsidebar
{
    float: left;
}
#dbsidebar button
{
    margin: 1px;
    height: 75px;
    width: 75px;
    background-color: rgb(255, 255, 255);
    border: 1px grey solid;
}
#dbsidebar button:hover
{
    background-color: rgb(240, 240, 240);
}
#dbsidebar a.current button
{
    background-color: rgb(189, 189, 189);
    border: 2px black solid;
}

#dbsidebar-home
{
    background-image: url("../images/dashboard/sidebar/home.svg");

    background-position: center; 
    background-size: 85px 85px;
}

#dbsidebar-search
{
    background-image: url("../images/dashboard/sidebar/search.svg");

    background-position: center; 
    background-size: 85px 85px;
}


/* Login Page  */

#login-background
{
    margin: 0px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
#login-box
{
    background-color: rgb(255, 255, 255);
    width: 27%;
    padding: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 45%;

}
#login-logo
{
    position: absolute;
    transform: translate(-50%, -25%);
    top: 0%;
    left: 50%;
}
#login-form
{
    display: grid;
    border: 1px black solid; 
    padding: 10px;
    position: absolute;
    transform: translate(-50%);
    bottom: 5%;
    left: 50%;
}
#login-title
{
    position: absolute;
    transform: translate(-50%);
    top: -25%;
    left: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#login-error-msg
{
    width: 100%;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    text-align: center;
    transform: translate(-50%);
    bottom: -25%;
    left: 50%;

}
#login-user-id, #login-password
{
    align-self: center;
    width: 200px;
    float: right;
}
#login-submit
{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 35%;
}

/* Search Page */
#pagetitle
{
    height: 40px;
    display: flex;
}
#searchpage
{
    border: 1px solid black;
    display: flex;
    width: 100%;
    margin: 1px;
}
#filters
{
    margin: 1px;
    width: 15%;
    padding: 15px;
    padding-bottom: 0px;
    padding-top: 0px;
    border: 1px solid black;
}
#filters h2
{
    text-align: center;
}
#filters ul
{
    padding:0px;
}
#filters li
{
    margin: 1px;
    margin-bottom: 0px;
    list-style: none;
    width: 100%;
    border: 1px solid black;
    float: right;
}

#filters h3
{
    text-align: center;
}

.machine-checkbox
{
    float: right;
}

#search-filter-dts
{
    border: 1px solid black;
    display: block;
    height: 110px;
    width: 100%;

}

#search-filter-misc
{
    height: 50px;
}

.search-filter input
{
    margin: 1px;
    width: 65%;
    float: right;
    height: 100%;
}

.search-filter label
{
    float: left;
    padding: 1px;
}

.search-filter button
{
    float: right;
    position: absolute;
    bottom: 1px;
    right: 1px;
}

#search-filter-machines
{
    border: 1px solid black;
    padding: 5px;
}


.search-filter 
{
    position: relative;
    border: 1px solid black;
    float: left;
    width: 100%;
}




#machine-list
{
    list-style: none;
    width: 100%;
    max-height: 300px;
    min-height: 300px;
    padding-left: 5px;
    overflow: scroll;
    overflow-x: hidden;
    border: 1px solid black;
}
#machine-list li
{
    border: 1px solid black;
    float: left;
    width: 97%;
    padding: 1px;
}

#results-table
{
    margin: 1px;
    width: 100%;
    float: right;
    overflow: scroll;
    overflow-x: hidden;
    border: 1px solid black;

}
#results-table table
{
    width: 100%;
    border-collapse: collapse;
}
#tb-header
{
    border: 1px solid black;
    background-color: rgb(196, 196, 196);
    position: sticky; top: 0;
}
#results-table th, td, tr
{
    text-align: center;
    border: 1px solid rgb(117, 117, 117);
    padding: 5px;
}
#results-table #even
{
    background-color: rgb(228, 228, 228);
}
#results-table #odd
{
    background-color: rgb(255, 255, 255);
}

/* CSS for date selection window */
#dtswindow 
{
    margin: 0px;
    text-align: center;
    border: 1px solid black;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 350px;
}
#dts-header
{
    padding: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 0px;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    display:inline-block;
}
#ym-label
{
    margin: 0px;
    text-align: center;
}
#prev
{
    margin: 0px;
    position: absolute;
    top: 0px;
    left: 15%;
}
#next
{
    margin: 0px;
    position: absolute;
    top: 0px;
    right: 15%;
}
#close
{
    position: absolute;
    top: 0px;
    right: 0px;
}
#days-table td
{
    padding: 0;
    height: 30px;
    width: 30px;
}
#days-table button
{
    width: 100%;
    height: 100%;
}
#dts-time-label
{
    position: fixed;
    bottom: 15%;
    left: -30%;
    text-align: center;
    transform: translate(-50%, 0);
}
#time-input
{
    float: left;
    position: fixed;
    bottom: 15%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0);
}

#hour
{
    float: none;
    width: 40px;
    height: 20px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
#minutes
{
    float: none;
    width: 40px;
    height: 20px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
#set
{
    position: fixed;
    bottom: 0%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

#avg-productivity
{
    float: inline-end;
    margin: 1px;
    border: 1px solid black;
}
canvas
{
    margin-top: 0%;

}
#graph-input
{
    display: inline-block;

    position: relative;


    right: -50%;
    transform: translate(-50%);
}

#submit
{
    margin-top: 5px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
